body {
    background-image:  url('../images/cover-pg.png');
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */
}

.logo{
    margin-top: 75px;
    margin-left: 25px;
}

.avatar {
    vertical-align: middle;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    position: absolute;
    top: 1000px;
    left: 75px;
}

.info{
    width: 33%  !important; 
    -webkit-print-color-adjust: exact;
    position: absolute;
    top: 1210px;
    left: 60px;
    color: #165B56;
   
}

h1.name{
    font-size: 18px;
}

p.details{
    font-size: 14pt;

}

p.para{
    position: absolute;
    top: 600px;
    left: 50px;
    width: 25%;
    text-align: justify;
    font-size: 14pt;
}

.cover-title{
    text-align: right;
    position: relative;
    top: 770px;
    right: 75px;
}

h1.title-report{
    color:#165B56 ;
    font-size: 40pt;
}

p.cap{
    font-size: 34pt;
    color: #165B56;
}

@page {
    size: a4;
    margin:0;
  }
  @media print {
    html, body {
        width: 100%;
        height: 95%;
    }
    h1.name{
        word-wrap: break-word;
        width: 45%;
    }
    
  }

@media only screen {
    html,body{
    width: 210mm;
    height: 297mm;
    }
    

}