body{
    background-color:white;
    font-family: Roboto, sans-serif;
    width: 100%;
}

.header{
    background-color: #FBAB19 !important;
    -webkit-print-color-adjust: exact;
}

.header-container {
    width: 100%;
    height: 30%;
    background-color: #FBAB19 !important;
    -webkit-print-color-adjust: exact;
}


.sub-header {
    font-size: 16px;
    font-family: Verdana, serif;
    color: #4b4a4a;
}


.header-text {
    font-family: sans-serif;
    color:white;
    font-size: 16px;
    font-weight: 400;
    line-height: 65px;

}

.header-table {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.sum-score{
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;    
}

.text-header {
    text-align: left;
}

.logo {
    width: 50%;
}

hr.line-d{
    border-top: 1.8px solid lightgrey;
}

.para p{
    font-size: 22px;
}

.text-para{
    font-size: 14px;
    text-align: justify;
}

.img_icon{
    height: 125px;
    margin: auto;
}

.img1 img{
    width: 100%;
}

.img2 img{
    width: 100%;
    margin-top: 0px;
}

p.caption{
    font-size: 18px;
    text-align: center;
}

p.caption2{
    font-size: 16px;
    text-align: left;
    
}

.img2 img{
    width: 75px;
    margin-top: 28px;
}



li.borderless{
    border: 0 none;
    background: none;
}



/* ====================== High Charts ======================*/
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 780px;
    background-color:transparent;
}

#container-bar1 {
    height: 500px;
    background-color:transparent;
}

.highcharts-data-table table {
	font-family: Roboto, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

#container1 {
    width: 420px;
    margin: 20px auto;
  }

/* ============= Footer =========================== */ 
.footer {
    height: 65px;
    width: 100%;
    background-color: #FBAB19!important;
    -webkit-print-color-adjust: exact;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    position: fixed ;
    bottom: 0;
    left: 0;
}

.footer-text {

    color: white;
    font-size: 16px;
}

.footer-logo-style {
    line-height: 49px;
}

.text-heading{
    font-size:22px ;
}

@media only screen and (max-width: 600px) {

    .text-header {
        text-align: left;
        font-size: 10px;
    }

    .title-intro{
        font-size: 28px;
    }

    .para p{
        font-size: 12px;
    }

    .highcharts-figure, .highcharts-data-table table {
        min-width: 120px; 
        max-width: 500px;
    }
    
    #container-bar1 {
        height: 500px;
    }
    
    h3{
        font-size: 15px;
    }

    
  }


  table.def-tbl{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;

    
  }

  table.def-tbl td{
    padding: 25px;
    border: 1px solid #A1B5D6;
    vertical-align: top;
    
}

